@media only screen and (max-width: 1500px) {
  .wrapper {
    padding: 50px 10px;
  }
}

@media only screen and (max-width: 1000px) {

  .wrapper {
    padding: 10px;
  }

  .content {
    flex-direction: column;
  }

  .part {
    flex-direction: column;
  }

  details:not([open]) summary span {
    display: inline;
  }

  .navbar {
    /*border-right: none;*/
    border: #555555 solid 1px;
    border-radius: 5px;
    padding: 10px;
  }

  .kod {
    max-width: none;
  }
}
