/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: Iosevka, serif;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

* {
  box-sizing: border-box;
}

html {
  background-image: url("../img/background.png");
  background-size: cover;
}

html, body {
  min-height: 100dvh;
}

.wrapper {
  min-height: 100dvh;
  padding: 50px 200px;
  display: flex;
  flex-direction: column;
}

.main {
  background: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 40px;
  flex: 1;
}

header {
  padding: 15px;
}

.content {
  display: flex;
  flex-direction: row;
}

.content > * {
  padding: 15px;
}

.navbar ul {
  padding-left: 0;
  list-style-type: none;
}

.navbar li {
  white-space: nowrap;
  border-bottom: #999999 dashed 1px;
}

.space {
  border-bottom: 0 !important;
}

.navbar {
  font-size: 1.2em;
}

#face {
  border-radius: 40px;
  width: 17dvh;
}


i {
  min-width: 20px;
}

h1 {
  font-size: 3em;
}

.footer {
  text-align: center;
}

#introvert {
  font-family: "Iosevka Extrabold Extended", serif;
  font-style: italic;
}

li + li {
  margin-top: 5px;
}

.part {
  display: flex;
  flex-direction: row;
}

figure {
  text-align: center;
}

details summary::marker {
  content: none;
}

details summary {
  content: none;
}

details:not([open]) summary span {
  display: none;
}

summary {
  cursor: pointer;
}

.navbar {
  border-right: #222222 solid 2px;
  /*border-radius: 10px;*/
}
.kod {
  /*color: crimson;*/
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: #555555 solid 1px;
  font-size: 105%;
  text-align: left;
  padding: 10px;
  overflow: scroll;
  max-width: 40dvw;
}

figure img {
  max-width: 20dvw;
  border-radius: 10px;
}

@media only screen and (max-width: 1500px) {
  .wrapper {
    padding: 50px 10px;
  }
}

@media only screen and (max-width: 1000px) {

  figure img {
    max-width: 60dvw;
  }

  figure {
    padding: 0;
    margin: 10px 0;
  }

  h1 {
  font-size: 2em;
  }

  .wrapper {
    padding: 10px;
  }
  .content {
    flex-direction: column;
  }

  .part {
    flex-direction: column;
  }

  details:not([open]) summary span {
    display: inline;
  }

  .navbar {
    /*border-right: none;*/
    border: #555555 solid 1px;
    border-radius: 5px;
    padding: 10px;
  }

  .kod {
    max-width: none;
  }
}
