@use "mobile";
@import "old_style.css";

$font: "LocalIosevka", serif;
$background-image: url("../img/background.png");
$background-color: rgba(255, 255, 255, 0.7);
$border-color: #555555;
$light-border-color: #999999;

@mixin flex($direction) {
  display: flex;
  flex-direction: $direction;
}

@font-face {
  font-family: "LocalIosevka";
  font-weight: normal;
  src: url(../Iosevka-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "LocalIosevka";
  font-weight: bold;
  src: url(../Iosevka-Bold.woff2) format("woff2");
}

@function fibonacci($n) {
  $sequence: 0 1;
  @for $_ from 1 through $n {
    $new: nth($sequence, length($sequence)) + nth($sequence, length($sequence) - 1);
    $sequence: append($sequence, $new);
  }
  @return nth($sequence, length($sequence));
}

* {
  box-sizing: border-box;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  background-image: $background-image;
  background-size: cover;
  font-family: $font;
}

html, body {
  min-height: 100dvh;
}

.wrapper {
  min-height: 100dvh;
  padding: 50px 200px;
  @include flex(column);
}

.main {
  background: $background-color;
  padding: 20px;
  border-radius: 40px;
  flex: 1;
}

header {
  padding: 15px;
}

.content {
  @include flex(row);

  > * {
    padding: 15px;
  }
}

.space {
  border-bottom: 0 !important;
}

.navbar {
  font-size: 1.2em;
  border-right: $border-color solid 2px;

  ul {
    padding-left: 0;
    list-style-type: none;
  }

  li {
    white-space: nowrap;
    border-bottom: $light-border-color dashed 1px;
  }
}

#face {
  border-radius: 40px;
  width: 17dvh;
}

i {
  min-width: 20px;
}

h1 {
  font-size: 3em;
}

.footer {
  text-align: center;
}

#introvert {
  font-style: italic;
  font-weight: bolder;
}

li + li {
  margin-top: 5px;
}

.part {
  @include flex(row)
}

figure {
  text-align: center;
}

details {
  summary::marker {
    content: none;
  }

  summary {
    content: none;
    cursor: pointer;
  }

  &:not([open]) summary span {
    display: none;
  }
}

.kod {
  /*color: crimson;*/
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  border: $border-color solid 1px;
  font-size: 105%;
  text-align: left;
  padding: 10px;
  overflow: scroll;
  max-width: 40dvw;
}

figure img {
  max-width: 30dvh;
  border-radius: 10px;
}
